body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
    margin: 0;
    padding: 0
}

body, button, input, select, textarea {
    font: 14px/1.5 '\5FAE\8F6F\96C5\9ED1';
}

body {
    background: #000036;
    font-family: "微软雅黑";
    color: #FFF;
    min-width: 1280px;
}

h1, h2, h3, h4, h5, h6, button, input, select, textarea {
    font-size: 100%
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

button, input, select, textarea {
    vertical-align: baseline;
    *vertical-align: middle;
    border: none;
}

address, cite, dfn, em, var, i {
    font-style: normal
}

code, kbd, pre, samp {
    font-family: courier new, courier, monospace
}

small {
    font-size: 80%
}

ul, ol {
    list-style: none
}

a {
    text-decoration: none;
    color: #008AFF
}

sub, sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline
}

sup {
    top: -0.5em
}

sub {
    bottom: -0.25em
}

fieldset, img {
    border: 0
}

input:focus, textarea:focus {
    outline: none
}

section, aside {
    display: block;
}

legend {
    color: #333
}

textarea {
    resize: none;
    overflow: auto;
    vertical-align: top
}

button {
    cursor: pointer;
    padding: 0
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

img {
    width: 100%;
}

.clearfix {
    *zoom: 1
}

.clearfix:before, .clearfix:after {
    display: table;
    content: "";
    line-height: 0
}

.clearfix:after {
    clear: both
}

.clear {
    clear: both;
    width: 1px;
    height: 0;
    font-size: 1px;
    visibility: hidden;
    overflow: hidden
}

.fl {
    float: left
}

.fr {
    float: right
}

.tl {
    text-align: left
}

.tr {
    text-align: right
}

.tc {
    text-align: center
}

.vm {
    vertical-align: middle
}

.pr {
    position: relative
}

.pa {
    position: absolute
}

.fn {
    font-weight: normal !important
}

.fb {
    font-weight: bold
}

.f12 {
    font-size: 12px
}

.f14 {
    font-size: 14px
}

/*head部分*/
header {
    height: 68px;
    border-bottom: 1px solid #0b4da6;
    position: relative;
    background: #002e73;
    margin-bottom: 9px;
}

.headL1 {
    width: 216px;
    height: 50px;
    position: absolute;
    left: 0;
    top: 0;
    background: url(../images/head_03.png) no-repeat 17px;
    padding-top: 18px;
    line-height: 34px;
    font-size: 20px;
    text-indent: 60px;
}

.headL2 {
    width: 180px;
    height: 43px;
    float: left;
    position: absolute;
    left: 216px;
    top: 0;
    background: url(../images/head11_03.png) no-repeat left;
    padding-top: 25px;
    font-size: 18px;
    line-height: 24px;
    text-indent: 10px;
}

.headM {
    width: 350px;
    height: 45px;
    margin: 0 auto;
    padding-top: 23px;
}

.headM a {
    display: inline-block;
    width: 74px;
    height: 24px;
    border: 1px solid #35a2ff;
    margin-right: 10px;
    background: #094a91;
    font-size: 14px;
    color: #FFF;
    line-height: 24px;
    text-align: center;
}

.headM a.a1 {
    margin-right: 0;
}

.headM a:hover {
    background: #006be4;
}

.headR {
    width: 380px;
    height: 68px;
    float: right;
    position: absolute;
    right: 0;
    top: 0;
}

.headR li {
    width: 95px;
    height: 68px;
    float: left;
}

.headR li.la {
    background: url(../images/head_09.png) no-repeat left;
    padding-top: 25px;
    height: 43px;
    font-size: 12px;
    line-height: 18px;
    text-indent: 22px;
}

.headR li a {
    color: #FFF;
}

.headR li.lb {
    padding-top: 25px;
    height: 43px;
    background: url(../images/head_06.png) no-repeat left;
    line-height: 18px;
    text-indent: 22px;
}

.headR li.lc {
    padding-top: 25px;
    height: 43px;
    line-height: 18px;
}

.headR li.ld {
    padding-top: 25px;
    height: 43px;
    line-height: 18px;
}

.headR li.ld span {
}

/*head部分*/

/*warp部分*/
.indexwarp {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.indexLeft {
    width: 285px;
    position: absolute;
    left: 9px;
    top: 0;
}

.indexMiddle {
    margin-left: 305px;
    margin-right: 302px;
}

.indexMiddle1 {
    margin-left: 301px;
    margin-right: 301px;
}

.indexMiddle img {
    width: 100%;
}

.indexRight {
    width: 285px;
    position: absolute;
    right: 9px;
    top: 0;
}

.input {
    border: 1px solid #005b8c;
    background: #000c22;
    color: #b8d4ff;
    text-indent: 8px;
    height: 31px;
    border-radius: 3px;
}

.Left {
    width: 48.75%;
    margin-left: 0.7%;
    float: left;
    border: 1px solid #005b8c;
}

.Right {
    width: 48.75%;
    margin-right: 0.7%;
    float: right;
    border: 1px solid #005b8c;
}

.select {
    cursor: pointer;
    border: 1px solid #005b8c;
    background: #000c22;
    color: #b8d4ff;
    text-indent: 8px;
    height: 31px;
    border-radius: 3px;
    position: relative;
    display: inline-block;
    line-height: 31px;
}

.selectContent {
    position: absolute;
    background: #000c22;
    border: 1px solid #005b8c;
    border-top: 0;
    left: -1px;
    top: 32px;
    display: none;
}

.selectContent li a {
    display: block;
    line-height: 20px;
    font-size: 14px;
    color: #b8d4ff;
}

.icondown {
    display: block;
    width: 11px;
    height: 6px;
    position: absolute;
    right: 4px;
    top: 13px;
    background: url(../images/index_03.png) no-repeat;
}

.w74 {
    width: 74px;
}

.w236 {
    width: 236px;
}

.w120 {
    width: 120px;
}

.w115 {
    width: 115px;
}

.w190 {
    width: 190px
}

.w125 {
    width: 125px
}

.h183 {
    height: 183px;
}

.w125 {
    width: 125px;
}

.border {
    border: 1px solid #073e8c;
}

/*warp部分*/

/*footer部分*/
footer {
    height: 60px;
    background: #09326e;
    display:none;
}

.footerc {
    width: 350px;
    padding-top: 15px;
    height: 45px;
    margin: 0 auto;
    background: url(../images/indexEhcarts_15.png) no-repeat left;
    padding-left: 41px;
}

.footerc p {
    font-size: 12px;
    color: #FFF;
    line-height: 18px;
}

/*footer部分*/

/* #action */

#action {
    margin-bottom: 10px;
}

#action .\#1:after {
    content: attr(data-index);
}

/* #forceDirectedSA, #forceDirectedSA-chart */

#forceDirectedSA {
    position: relative;
    width: 100%;
    height: 400px;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNui8sowAAAAWdEVYdENyZWF0aW9uIFRpbWUAMDgvMTAvMTbgKhTDAAAADUlEQVQImWPglnNtAAABlQDvFba6JwAAAABJRU5ErkJggg==");
}

#forceDirectedSA h4 {
    position: absolute;
    left: 18px;
    top: 12px;
    font-size: 16px;
    line-height: 16px;
    color: #ffffff;

}

#forceDirectedSA h4:before {
    content: "";
    position: absolute;
    left: -9px;
    top: 1px;
    width: 3px;
    height: 16px;
    background-color: #006be4;
}

#forceDirectedSA-chart {
    position: absolute;
    left: 0;
    top: 0;
    height: 400px;
}

/* #forceDirectedSA-pop */

/*    #forceDirectedSA-pop {
        position            : absolute;
        right               : 7px;
        top                 : 7px;
        width               : 282px;
        height              : 284px;
        border              : 1px solid #073e8c;
        background          : transparent url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNui8sowAAAANSURBVAiZY2AVd/4EAAHWAVKzh2IIAAAAAElFTkSuQmCC") repeat scroll 0 0;
    }*/

/*  #forceDirectedSA-pop.loading:before {
      content             : "Loading";
      position            : absolute;
      left                : 120px;
      top                 : 120px;
      font-size           : 12px;
      line-height         : 12px;
      color               : #ffffff;
      -webkit-animation   : loading 4s infinite;
      -o-animation        : loading 4s infinite;
      animation           : loading 4s infinite;
  }
*/
#forceDirectedSA-pop.false {
    display: none;
}

@-webkit-keyframes loading {

    0% {
        content: "Loading"
    }
    25% {
        content: "Loading."
    }
    50% {
        content: "Loading.."
    }
    75% {
        content: "Loading..."
    }

}

@-khtml-keyframes loading {

    0% {
        content: "Loading"
    }
    25% {
        content: "Loading."
    }
    50% {
        content: "Loading.."
    }
    75% {
        content: "Loading..."
    }

}

@-o-keyframes loading {

    0% {
        content: "Loading"
    }
    25% {
        content: "Loading."
    }
    50% {
        content: "Loading.."
    }
    75% {
        content: "Loading..."
    }

}

@-moz-keyframes loading {

    0% {
        content: "Loading"
    }
    25% {
        content: "Loading."
    }
    50% {
        content: "Loading.."
    }
    75% {
        content: "Loading..."
    }

}

@-ms-keyframes loading {

    0% {
        content: "Loading"
    }
    25% {
        content: "Loading."
    }
    50% {
        content: "Loading.."
    }
    75% {
        content: "Loading..."
    }

}

@keyframes loading {

    0% {
        content: "Loading"
    }
    25% {
        content: "Loading."
    }
    50% {
        content: "Loading.."
    }
    75% {
        content: "Loading..."
    }

}

.banner {
    position: relative;
    top: 0;
    left: 0
}

.banner > ul {
    width: 200px;
    position: absolute;
    top: -17px;
    left: 20px;
}

#banner1 > ul {
    width: 200px;
    position: absolute;
    top: -41px;
    left: 20px;
}

.banner > ul > li {
    display: inline-block;
    list-style-type: none;
    background: #01abff;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 3;
    position: relative;
    text-align: center;
}

.banner > ul > li > span.text {
    position: relative;
}

.banner ul li.bg {
    display: inline-block;
    background: #fbc200;
    width: 10px;
    height: 10px;
    position: relative;
    box-shadow: 0 0 15px 5px #e1b007;
}

.button {
    width: 100px;
    height: 30px;
    line-height: 30px;
}

.banner div.line {
    height: 1px;
    position: relative;
    top: -13px;
    left: 19px;
    background: #01abff;
}

#banner1 div.line {
    height: 1px;
    position: relative;
    top: -37px;
    left: 29px;
    background: #01abff;
}

div.btnLeft {
    background: url(../images/networkBtn_03.png) no-repeat;
    cursor: pointer;
    display: inline-block;
    width: 18px;
    height: 18px;

}

div.btnRight {
    background: url(../images/networkBtn_05.png) no-repeat;
    cursor: pointer;
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-left: 170px;

}

div.stop {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    background: url(../images/begin.png) no-repeat center;
    position: relative;
    top: -8px;
    left: 21px;
}

.banner li span {
    display: inline-block;
    width: 30px;
    font-size: 10px;
}

.anchorBL {
    display: none;
}

/*.pagination .current.prev, .pagination .current.next{color:#999;background-color: transparent;}*/
/*.pagination a{display: inline-block;font-size: 14px;color: #91a0ad;width: 20px;height: 20px;line-height: 20px;text-align: center;margin:0 5px;border-radius: 2px;}*/
/*.pagination span{display: inline-block;font-size: 14px;color: #91a0ad;width: 20px;height: 20px;line-height: 20px;text-align: center;border-radius: 2px;}*/
/*.pagination a.active,*/
/*.pagination a:hover{background: #0085f5;color:#fff;}*/
/*.pagination .current{background: #0085f5;color:#fff;}*/

/*分页样式*/
.page-box {
    text-align: right;
    margin-top: 15px;
    margin-right: 15px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.page-box input {
    width: 10px;
    height: 20px;
    margin: 0 5px;
}

.page-num-wrap > .pageNums .page-num, .lastPage, .nextPage, .firstPage, .tailPage {
    cursor: pointer;
    margin: 0 3px;
    width: 20px;
    border-radius: 3px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
    color: #91a0ad;
    opacity: 1;
    display: inline-block;
}

.page-num-wrap .on {
    color: #fff !important;
    background-color: #0085f5 !important;
}

.page-box .jumpPage {
    margin-left: 10px;
    color: #91a0ad;
    font-size: 14px;
}

.jumpPage .jumpVal {
    text-align: center;
    color: #999;
    outline: none;
    background: #051743;
    border: 1px solid #051743;
    font-size: 14px;
    width: 39px;
    height: 24px;
    line-height: 24px;
}

.jumpPage .confirm {
    display: inline-block;
    text-align: center;
    width: 48px;
    height: 24px;
    margin-left:3px ;
    cursor: pointer;
    border: 1px solid #2981d1;
    background: #01215d;
    color: #819dbb;
    font-size: 12px;
    line-height: 24px;
}

.page-num-wrap > .pageNums .page-num:active,
.lastPage:active,
.nextPage:active,
.firstPage:active,
.tailPage:active,
.jumpPage .confirm:active {
    background-color: #e6e6e6;
}


.inputActive1{ background:#0085f5;   color: #FFF;}
.inputActive2{ background:red;   color: #FFF;}


